body {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    background-color: seagreen;
}

.contenido {
    width: 80%;
    margin: 0 auto;
    border: 2px solid red;
    padding: 3em;
    margin-bottom: 1em;
}

.texto {
    border: 3px solid rgb(18, 21, 243);
    font-weight: 700;
    background-color: black;
}

h1 {
    color: blue;
    text-transform: capitalize;
    background-color: #e1e1e1;
    padding: 0.5em;
    margin: 0;
}

.mi-nombre {
    letter-spacing: 1.2px;
}

.cuadro {
    width: 80%;
    height: 2em;
    margin: 0 auto;
    border: 2px solid yellow;
    padding: 3em;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro p {
    color: black;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
